.card {
  background-color: rgba(109, 31, 31, 0.521);
  width: 350px;
  height: 485px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  border-radius: 7%;
  border: 2px groove black;
  box-sizing: border-box;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.img {
  margin-right: 0px;
  object-fit: cover;
  width: 325px;
  height: 250px;
  border-radius: 7%;
  border: 2px groove black;
}

.divnamediet {
  color: rgb(0, 0, 0);
  margin-top: 0px;
}
